---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1>Planetary Playing Cards</h1>
<div class="display">
    <div class="cardSun">
        <div class="sun"></div>
        <div class="description">
            <h2>Sun</h2>
            <p>Type G2V</p>
        </div>
    </div>
    <div class="card">
        <div class="mercury"></div>
        <div class="description">
            <h2>Mercury</h2>
            <p>AU Distance</p>
        </div>
    </div>
    <div class="card">
        <div class="venus"></div>
        <div class="description">
            <h2>Venus</h2>
            <p>AU Distance</p>
        </div>
    </div>
    <div class="card">
        <div class="earth"></div>
        <div class="description">
            <h2>Earth</h2>
            <p>AU Distance</p>
        </div>
    </div>
    <div class="card">
        <div class="mars"></div>
        <div class="description">
            <h2>Mars</h2>
            <p>AU Distance</p>
        </div>
    </div>
    <div class="card">
        <div class="jupiter"></div>
        <div class="description">
            <h2>Jupiter</h2>
            <p>AU Distance</p>
        </div>
    </div>
    <div class="card">
        <div class="saturn"></div>
        <div class="description">
            <h2>Saturn</h2>
            <p>AU Distance</p>
        </div>
    </div>
    <div class="card">
        <div class="uranus"></div>
        <div class="description">
            <h2>Uranus</h2>
            <p>AU Distance</p>
        </div>
    </div>
    <div class="card">
        <div class="neptune"></div>
        <div class="description">
            <h2>Neptune</h2>
            <p>AU Distance</p>
        </div>
    </div>
</div>